* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

ul {
    background-color: rgba(253, 249, 249, 0.712);
    box-shadow: 2px 5px 10px rgb(12, 12, 12);
}

ul li {
    margin-top: 2%;
    margin-bottom: 3%;
}

footer {

    margin-bottom: 5%;
    margin-left: 80%;
    border-left: 2px solid rgba(73, 72, 60, 0.842);
    padding: 1%;
}

a {
    text-decoration: none;
    margin-top: 15%;
    color: rgba(0, 140, 233, 0.911);
}



